venv/
__pycache__/app.cpython-312.pyc
.venv/
.venv/Include
.venv/Lib/site-packages
.venv/Lib/site-packages/blinker
.venv/Lib/site-packages/blinker/__pycache__
.venv/Lib/site-packages/blinker/__pycache__/__init__.cpython-312.pyc
*.exe
*.bat
*.ps1
pycache/

